html {
  overflow-y: hidden;
}

#reactive-button {
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
}

#chat-content {
  overflow-y: auto;
  max-height: 100%;
  margin-bottom: 10px;
}

#chat-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  word-break: break-word;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  -webkit-box-align: end;
  -ms-flex-align: end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  align-items: stretch;
}

.invert-chat-container {
  justify-content: flex-start !important;
  -webkit-box-pack: start !important;
  -ms-flex-pack: start !important;
}

.invert-chat-content {
  display: flex;
  flex-direction: column-reverse;
}
