.deleted {
  font-style: italic;
  color: grey;
}
.message {
  padding-left: 10px;
  padding-right: 10px;
}
.message-font > img {
  vertical-align: middle;
}
.message-url {
  text-decoration: none;
}
