.deleted {
  font-style: italic;
  color: grey;
}
.message {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 2px;
  padding-bottom: 2px;
}
.message > img {
  vertical-align: middle;
  margin-bottom: 1.5px;
}
.message-url {
  text-decoration: none;
}
.badge {
  margin-right: 2px;
  border-radius: 4px;
}
.badge:not([src]) {
  display: none;
}
.message-switching:nth-child(odd) {
  background: rgba(70, 70, 70, 0.178);
}
.message-action {
  font-style: italic;
}
.username {
  text-shadow: 0 0 rgb(255, 0, 0);
}
